
.search-title {
    margin-top: 20px;
    font-weight: 900;
    font-size: 25px;
    color: #b17eb1;
    text-align: center;

}

.search-query {
    margin-top: 20px;
    font-weight: 900;
    font-size: 30px;
    color: #080808;
    text-align: center;

}

.search-count {
    margin-top: 20px;
    
    font-size: 15px;
    font-style: italic;
    color: #353535;
    text-align: center;

}

.search-table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    border-collapse: collapse;
    width: 80% !important;

}